
!.v
isim/isim_usage_statistics.html
*.sdb
*.projectmgr
iseconfig/LogicCircuitsFP.projectmgr
LogicCircuitsFP.gise
*.xmsgs
*.cmd_log
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.syr
/isim
/_xmsgs
/iseconfig
/xst
*.xst
*.html
*.xrpt
*.log
*.cmd
*.xise
*.exe
*.wdb
*.xml
*.ini
